body {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: #1C0A00;
  color: #fff;
  margin-top: 0px;

}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

::-webkit-scrollbar {
  width: 0px;
}

.right-arrow,
.left-arrow {
  cursor: pointer;
  background: transparent;
  outline: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  font-size: 25px;
  border-radius: 4px;
  position: absolute;
  bottom: -20px;
  right: 80px;
  transform: scale(1, 1);
  transition: 0.3s all ease-in-out;
}

.right-arrow {
  right: 140px;
}

.right-arrow:hover,
.left-arrow:hover {
  transform: scale(1.3, 1.3);
}

.react-horizontal-scrolling-menu--wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.detail-image {
  width: 700px;
  height: 700px;
}

.hero-banner-img {
  position: absolute;
  right: 20px;
  top: 200px;
  width: 700px;
  height: 700px;
  margin-top: -330px;
  padding: 50px;
  border-radius: 50%;

}

.exercise-card {
  width: 400px;
  height: 460px;
  background: #CC9544;
  border-top: 4px solid #CC9544;
  border-radius: 15px;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-bottom: 10px;
  transform: scale(1, 1);
  transition: 0.3s all ease-in-out;
}

.exercise-card img {
  height: 326px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin-bottom: 10px;
}


.home1{
   transition: 0.3s ease;
}

.home1:hover{
  transform: scale(1.1,1.1);
}

.exercises1{
   transition: 0.3s ease;
}
.exercises1:hover{
   transform: scale(1.1,1.1);
}

.bodyPart-card {
  transform: scale(1, 1);
  transition: 0.5s all ease-in-out;
}

.exercise-card:hover,
.bodyPart-card:hover {
  transform: scale(1.1, 1.1);
}

.explore-hitu{
 transition: ease 0.5s;

}
.explore-hitu:hover{
transform: scale(1.1,1.1);
}

.search-btn:hover {
  color: #FF2625 !important;
  background-color: #FF2625;
  border: 1px solid red !important;
  border-radius: 4px;
  
}

.exercise-video {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 387px;
  height: 381px;
  text-decoration: none;
}

@media screen and (max-width:1200px) {
  .detail-image {
    width: 300px;
    height: 300px;
  }


  .react-horizontal-scrolling-menu--scroll-container {
    width: 50px;
  }

  .left-arrow,
  .right-arrow {
    position: static !important;
  }

  .hero-banner-img {
    display: none;
    
  }

  .exercise-card {
    width: 320px;
  }

  .exercise-video {
    width: 320px;
    height: 300px;
  }

}

@media screen and (max-width:400px) {
  .exercise-card {
    width: 280px;
  }
}

